@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Black.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #282a44!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 46%!important;
    height: 62vh;
    background-color: #F7FAFC;
    border: none;
    border-radius: 1rem;
}

#col1{
    margin-left: .5rem;
    width: fit-content!important;
}

h1{
    font-size: 2.75vw!important;
    color: #282a44!important;
}

p, li{
    font-size: 0.8vw!important;
    font-weight: 600;
    color: #282a44!important;
}

ul{
    list-style-type: none;
    list-style-image: url("/assets/icon-list.svg")!important;
    padding-left: 1.65em;
}

input{
    padding: 0.35em;
    border-radius: 0.35em;
    border: 1px #282a44 solid;
}

input[type=email]:active, input[type=email]:focus{
    border: 1px #282a44 solid!important;
}

input[type=email]::placeholder{
    vertical-align: middle;
    color: #282a44;
    font-size: 0.9vw;
    font-weight: 500;
}

input[type=button]{
    color: #F7FAFC;
    background: #282a44;
    border: none;
    font-size: 0.9vw;
    font-weight: 500;
    padding: 0.75em 0.35em;
}

input[type=button]:hover, input[type=button]:active, input[type=button]:focus{
    background: linear-gradient(97deg, #f8527a 0%, #f96b3a 100%);
}

#svg{
    margin-right: 0!important;
}